/* ASIDE CON MIXIN*/

aside {
	font-size: large;
	grid-area: aside;
	border: 1px black solid;
	width: 100%;
	height: 100%;
	background-color: $background-color_3;
	margin: 0px;
	padding: 10px;

	h2 {
		@include parrafo;
	}

	button {
		width: 100px;
		margin: 20px 30%;
	}

	img {
		background-color: aliceblue;
		width: 250px;
		height: 150;
	}

	.publicidad {
		margin-top: 30px;
		@include parrafo;
	}
}

.info {
	margin-bottom: 15px;
}
.video{
	width: 98%;
}