footer {
	width: 100%;
	height: 200px;
	grid-area: footer;
	margin: 0px;
	text-align: center;
	font-size: 30px;
	background-color: $background-color_4;
	color: $color_2;
	text-decoration: underline rgb(255, 38, 0) 2px;

	.redes{
		width: 100px;
		height: 80px;
		border-radius: 50%;
		margin: 30px;
	}
}
