/*MIXIN*/
@mixin parrafo {
	text-align: center;
	text-decoration: underline black 2px;
}

/*HEADER*/

header {
	margin: 0;
	background-color: $background-color_2;
	grid-area: header;
	border-bottom: black 2px solid;

	.portada {
		margin: 0;
		width: 100%;
		height: 300px;
		border-bottom: black 2px solid;
	}

	h1 {
		text-align: center;
		color: $color_1;
	}

	p {
		@include parrafo;
	}
}